# NumPy In Python:
- differentiate between list and array

In [2]:
import numpy as np

# Creation of NumPy array 
- syntax
- np.array(object,ndmin,dtype)
- object: list/tuple
- ndmin: minimum number of dimension
- dtype: int,float, complex

In [4]:
list1 = [7,8,9]
arr = np.array(list1)
print(arr)

[7 8 9]

In [5]:
type(arr)

numpy.ndarray

In [6]:
# Creation of one dimensional array
x = [23,25,27,30]
arr = np.array(x)
print(arr)

[23 25 27 30]

In [7]:
# Create  two dimensional array from one-dimensional list
import numpy as np
list2 = [5,6,10,13,14]
arr = np.array(list2,ndmin = 2,dtype = int)
print(arr)

[[ 5  6 10 13 14]]

In [8]:
# To check for the number of dimension, use: ndim

print(arr.ndim)

2

In [10]:
# From 1 dimensional list, create for 3 dimensional array
userAge = [20,24,25,26,27]
arr = np.array(userAge, ndmin = 3, dtype = complex)
print(arr)

[[[20.+0.j 24.+0.j 25.+0.j 26.+0.j 27.+0.j]]]

In [11]:
userId = [[[201,202,203,204]]] # Three dimensional list
print(userId)

[[[201, 202, 203, 204]]]

In [12]:
# Create a three dimensional array from userId
arr1 = np.array(userId)
print(arr1)

[[[201 202 203 204]]]

In [13]:
print(arr1.ndim)

3

In [15]:
# Create a one dimensional array from a three dimensional list
userAge = [[[30,32,33,34,35]]]
arr = np.array(userAge).flatten()
print(arr)

[30 32 33 34 35]

In [16]:
print(arr.ndim)

1

In [18]:
# Mathematical functions in NumPy array
list1 = [3,5,6,7]

In [19]:
for i in list1:
    print(i*10)

30
50
60
70

In [20]:
arr = np.array(list1)
arr*10

array([30, 50, 60, 70])

In [21]:
# create an array and multiple it by 5 from the list below
studentsId = [20,22,23,24,25]
arr2 = np.array(studentsId)
arr2*5

array([100, 110, 115, 120, 125])

# Routines in NumPy array
- np.zeros 
- syntax: np.array(shape,dtype)
- np.ones

In [23]:
arr = np.zeros(2)
print(arr)

[0. 0.]

In [24]:
# Creation of array of 2-rows and 3-columns
arr2 = np.zeros([2,3])
arr2

array([[0., 0., 0.],
       [0., 0., 0.]])

In [25]:
print(arr2.ndim)

2

In [26]:
# Array of 3 dimensions with 2-rows and 5-columns. it also have 3-appearance
arr = np.zeros([3,2,5])
arr

array([[[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]],

       [[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]]])

In [27]:
# Create a routine array of zeros having 4-appearance, 3-rows and 3-columns
arr3 = np.zeros([4,3,3])
arr3

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [28]:
arr1 = np.ones(5)
arr1

array([1., 1., 1., 1., 1.])

In [29]:
arr2 = np.ones([2,3,4])
arr2

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [30]:
# Create a routine arrays of ones with 3-dimensional arrays, and it has the same number of rows and columns
arr2 = np.ones([2,3,3])
arr2

array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])

# NumPy from Ranges
- syntax= numpy.arange(start,stop,step,dtype)

In [31]:
for number in range(2,9):
    print(number)

2
3
4
5
6
7
8

In [32]:
x = np.arange(5)
print(x)

[0 1 2 3 4]

In [33]:
# Create a numpy from range starting from zero to 5
arr3 = np.arange(0,6)
print(arr3)

[0 1 2 3 4 5]

In [34]:
arr4 = np.arange(6)
print(arr4)

[0 1 2 3 4 5]

In [35]:
y = np.arange(10,20,4,dtype =int)
print(y)

[10 14 18]

In [36]:
x = np.arange(0,200,6,dtype = int)
print(x)

[  0   6  12  18  24  30  36  42  48  54  60  66  72  78  84  90  96 102
 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198]

In [1]:
# create a numpy from range that starts from 12 to 50

# Numpy.linspace
- syntax 
- np.linspace(start,stop,num,endpoint,retstep,dtype)

In [3]:
# Examples
import numpy as np
arr = np.linspace(2,25,num = 5, endpoint = False)
print(arr)

[ 2.   6.6 11.2 15.8 20.4]

In [5]:
arr2 = np.linspace(5,50, num = 4, endpoint = True)
print(arr2)

[ 5. 20. 35. 50.]

In [7]:
x = np.linspace(0,30,num = 6, endpoint = False, retstep = False)
print(x)

[ 0.  5. 10. 15. 20. 25.]

In [9]:
arr,step = np.linspace(5,49, num = 10, retstep = True)
print(arr)
print("The step difference is:",step)

[ 5.          9.88888889 14.77777778 19.66666667 24.55555556 29.44444444
 34.33333333 39.22222222 44.11111111 49.        ]
The step difference is: 4.888888888888889

In [10]:
y,step = np.linspace(2,20,num = 10, endpoint = True, retstep = True)
print(y)
print("The step difference is:", step)

[ 2.  4.  6.  8. 10. 12. 14. 16. 18. 20.]
The step difference is: 2.0

# NumPy- Arithmetics Operation
- addition
- subtraction
- multiplication
- divide

In [17]:
# Example of addition
a = [2,3,4]
b = [5,6,7]
arr1 = np.array(a)
arr2 = np.array(b)
output = np.add(arr1,arr2)
print(output)

[ 7  9 11]

In [18]:
output = arr1 + arr2
print(output)

[ 7  9 11]

In [20]:
# Find the summation of the following Numpy array below
x = [20,30,49]
y = [13,32,99]
arr1 = np.array(x)
arr2 = np.array(y)
output = arr1 + arr2
print(output)

[ 33  62 148]

In [21]:
# Subtraction
a = [20,35,50]
b = [15,30,45]
arr3 = np.array(a)
arr4 = np.array(b)
output = np.subtract(arr3,arr4)
print(output)

[5 5 5]

In [22]:
output = arr4 -arr3
print(output)

[-5 -5 -5]

In [23]:
# Create a numpy array using list x and y, subract array created from list y from that created from listx
x = [17,19,23]
y = [27,23,11]
arr2 = np.array(x)
arr3 = np.array(y)
output = np.subtract(arr3,arr2)
print(output)

[ 10   4 -12]

In [24]:
# multiplication
a = [3,4,6]
b = [2,2,2]
arr1 = np.array(a)
arr2 = np.array(b)
output = np.multiply(arr1,arr2)
print(output)

[ 6  8 12]

In [25]:
output = arr1*arr2
print(output)

[ 6  8 12]

In [26]:
# Division in numpy array
c = [4,16,29]
d = [2,4,3]
arr5 = np.array(c)
arr6 = np.array(d)
output = np.divide(arr5,arr6)
print(output)

[2.         4.         9.66666667]

In [27]:
output = arr5/arr6
print(output)

[2.         4.         9.66666667]

In [28]:
# create an array from the list below and divide the two arrays
list1 = [50,60,76]
list2 = [23,30,24]
arr2 = np.array(list1)
arr3 = np.array(list2)
output = np.divide(arr3,arr2)
print(output)

[0.46       0.5        0.31578947]

In [29]:
output = arr2/arr3
print(output)

[2.17391304 2.         3.16666667]

In [30]:
# Exponentiation in numpy
x = [2,3,4]
y = [2,5,4]
arr1 = np.array(x)
arr2 = np.array(y)
output = np.power(arr1,arr2)
print(output)

[  4 243 256]

In [31]:
output = arr1**arr2
print(output)

[  4 243 256]

In [32]:
# Modulus operation in NumPy array
a = [4,9,12]
b = [3,2,5]
arr3 = np.array(a)
arr4 = np.array(b)
output =np.mod(arr3,arr4)
print(output)

[1 1 2]

In [33]:
output = arr3%arr4
print(output)

[1 1 2]

In [34]:
# Floor division
a = [30,45,61]
b = [11,5,2]
arr1 = np.array(a)
arr2 = np.array(b)
output = np.floor_divide(arr1,arr2)
print(output)

[ 2  9 30]

In [35]:
output = arr1//arr2
print(output)

[ 2  9 30]

In [36]:
# Create numpy array from the lists below. Then apply modulus and floor division respectively
list1 = [12,17,18]
list2 = [5,8,13]
arr2 = np.array(list1)
arr3 = np.array(list2)
output = np.mod(arr2,arr3)
print(output)

[2 1 5]

In [37]:
output = arr2//arr3
print(output)

[2 2 1]

In [38]:
# Shape
g = [2,3,4]
arr = np.array(g)
print(arr)

[2 3 4]

In [39]:
arr.shape

(3,)

In [40]:
list1 = [[2,3,4,5],[6,7,8,9]]
arr2 = np.array(list1)
print(arr2)

[[2 3 4 5]
 [6 7 8 9]]

In [41]:
arr2.shape

(2, 4)

In [43]:
# Reshape function
a = [1,2,4,5,6,7,8,9]
arr = np.array(a)
print(arr)

[1 2 4 5 6 7 8 9]

In [44]:
arr.reshape(2,4)

array([[1, 2, 4, 5],
       [6, 7, 8, 9]])

In [45]:
y = np.arange(10)
print(y)

[0 1 2 3 4 5 6 7 8 9]

In [46]:
output = np.reshape(y,(2,5))
print(output)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [47]:
# Append function or append ()
a = [[3,4,5],[7,8,9]]
b = [1,7,9]
arr1 = np.array(a)
arr2 = np.array(b)
output = np.append(arr1,arr2)
print(output)

[3 4 5 7 8 9 1 7 9]

In [48]:
# From the list below, create arrays and add it to the end
list2 = [3,4,6]
list3 = [[7,8,9],[10,11,12]]
arr1 = np.array(list2)
arr2 = np.array(list3)
output = np.append(arr1,arr2)
print(output)

[ 3  4  6  7  8  9 10 11 12]

In [49]:
# Indexing and slicing in NumPy
a = np.arange(10)
print(a)

[0 1 2 3 4 5 6 7 8 9]

In [50]:
y = a[4]
print(y)

4

In [52]:
# From the array(arr), fetch out, [6,7,8,9]
list1 = [[10,12,13,14],[6,7,8,9],[11,15,17,19]]
arr = np.array(list1)
print(arr)

[[10 12 13 14]
 [ 6  7  8  9]
 [11 15 17 19]]

In [53]:
output = arr[1]
print(output)

[6 7 8 9]

In [54]:
# Retrieve the value in index number 3
b = np.arange(5,40,4)
print(b)

[ 5  9 13 17 21 25 29 33 37]

In [57]:
output =b[3]
print(output)

17

In [58]:
# fetch out the following numbers, 17,22,27,32,37
x = np.arange(2,50,5)
print(x)

[ 2  7 12 17 22 27 32 37 42 47]

In [59]:
output = x[3:8]
print(output)

[17 22 27 32 37]

In [60]:
output[output>=22]

array([22, 27, 32, 37])

In [61]:
# Filtering in Numpy
a = [[6,7,8],[9,10,11],[12,13,14]]
arr = np.array(a)
print(arr)

[[ 6  7  8]
 [ 9 10 11]
 [12 13 14]]

In [62]:
# Filter out numbers less than 10
arr[arr<=10]

array([ 6,  7,  8,  9, 10])

In [64]:
# Create an array from this list x and filter numbers that greater than 4
x = [[2,3,4],[5,6,7],[10,11,12]]
arr = np.array(x)
print(arr)

[[ 2  3  4]
 [ 5  6  7]
 [10 11 12]]

In [65]:
arr[arr>4]

array([ 5,  6,  7, 10, 11, 12])